body{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #0a0e2b;
  line-height: 18px;
}
*{
  transition: all 0.5s ease;
  box-sizing: border-box;
}
h1, h2, h3{
  font-family: 'Roboto Slab', serif;
}
h1{

}
h2{
  font-size: 28px;
  margin: 0 auto 45px;
}
h3, .h3{
  font-size: 18px;
}
h5{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 25px;
}
.wrapper{
}


.hero{
  position: relative;
  background: #0a0e2b;
}
.hero:after{
  content: "";
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  background: url('../images/dubai.jpg') repeat-x center top;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  opacity: 0.8;
}
.hero *{
  position: relative;
  z-index: 2;
}

.hero h1{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 37px;
  line-height: 50px;
}
.hero h1 strong{
  font-size: 43px;
  font-weight: bolder;
}
.heroContent{
  margin: 155px 0 215px;
}
.heroContent.inners{
  margin: 60px 0;
}
.heroContent h1{
  margin: 0;
}
.heroContent h1+img.img-responsive{
  margin-top: -22px;
}

.text-center .img-responsive{
  margin: auto;
}
.navbar-brand{
  height: auto;
}

.navbar-nav>li>a{
  color: #fff;
  border-bottom:1px solid #13132d;
  padding: 15px 0;
  margin: 15px 15px 0;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus,
.navbar-nav>li.active>a{
  border-bottom:1px solid #fff;
  background: none;
  outline: none;
}

.cardContainer{
  margin-top: -60px;
}
.colorCard{
  padding: 30px;
  margin-bottom: 50px;
}
.colorCard p{
  opacity: 0.8;
}
.colorCard.blue{
  background: #00aeef;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -30px;
}
.colorCard.yellow{
  background: #fff200;
  border-radius: 5px;
  margin-top: -20px;
}
.colorCard.red{
  background: #ed6950;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -30px;
}

.navbar-toggle .icon-bar{
  background: #fff;
}
.navbar-toggle{
  max-width: 45px;
  margin-top: 30px;
}
.servicesContainer{
  background: #fafafa;
  padding: 50px 0;
}

.serviceCard{
  height:240px;
  position: relative;
  overflow: hidden;
  margin: 0 0 30px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.05);
}
.serviceCard > div{
  background: #fff;
  padding:30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  line-height: 22px;
  cursor: pointer;
  min-height: 100%;
}

.serviceCard:hover{
  overflow: visible;
  z-index: 9;
}

.servicesContainer .col-sm-4:nth-child(1) .serviceCard:hover > div{
  background: #ea553d;
}
.servicesContainer .col-sm-4:nth-child(2) .serviceCard:hover > div{
  background: #0287d2;
}
.servicesContainer .col-sm-4:nth-child(3) .serviceCard:hover > div{
  background: #29b2bc;
}
.servicesContainer .col-sm-4:nth-child(4) .serviceCard:hover > div{
  background: #becb35;
}
.servicesContainer .col-sm-4:nth-child(5) .serviceCard:hover > div{
  background: #9986f2;
}
.servicesContainer .col-sm-4:nth-child(6) .serviceCard:hover > div{
  background: #ffbb44;
}

.serviceCard:hover > div p, .serviceCard:hover > div li, .serviceCard:hover > div .title{
  color: #fff;
}
.serviceCard .title{
  font-size: 22px;
  margin: 0 0 15px;
  display: inline-block;
  position: relative;
}
.serviceCard .title:before{
  content: "";
  width: 50px;
  height: 3px;
  display: inline-block;
  position: absolute;
  top: -30px;
  left: 0;
}
.servicesContainer .col-sm-4:nth-child(1) .serviceCard .title:before{
  background: #ea553d;
}
.servicesContainer .col-sm-4:nth-child(2) .serviceCard .title:before{
  background: #0287d2;
}
.servicesContainer .col-sm-4:nth-child(3) .serviceCard .title:before{
  background: #29b2bc;
}
.servicesContainer .col-sm-4:nth-child(4) .serviceCard .title:before{
  background: #becb35;
}
.servicesContainer .col-sm-4:nth-child(5) .serviceCard .title:before{
  background: #9986f2;
}
.servicesContainer .col-sm-4:nth-child(6) .serviceCard .title:before{
  background: #ffbb44;
}
.serviceCard ul{
  list-style: none;
  padding: 0 0 0 15px;
}
.serviceCard ul li{
  margin: 0 0 5px;
}
.serviceCard p, .serviceCard ul{
  color: #76909d;
  margin: 0;
}
.clientSection{
  padding: 50px 0 25px;
}
.clientSection img.img-responsive{
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 25px;
}
.socialSection{
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
}
.socialSection .fa{
  color: #cdcdcd;
  font-size: 22px;
  padding: 65px;
}
.socialSection .fa:hover{
  color: #000;
}
.section{
  padding: 0 0 50px;
  line-height: 22px;
}
.section:first-child{
  padding-top: 50px;
}
.section h2{
  margin-bottom: 15px;
}

.copyright{
  font-size: 12px;
  color: #cdcdcd;
  padding: 30px 0;
}

.btn-primary{
  background: #00aeef;
}
.contactUs dl{
  margin: 15px 0;
}
.contactUs dl dt{
  width: 25px;
}
.contactUs dl dd{
  margin-left: 35px;
  margin-bottom: 15px;
}

::selection{
  background: #00aeef;
  color: #fff;
}

@media only screen and (max-width: 768px) {
    .serviceCard{
      height: auto;
    }
    .serviceCard > div{
      position: static;
    }
    .colorCard{
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    .colorCard.yellow{
      margin-top: 0;
    }
}
